# By default, ignore all:
*

# Keep this file and the following: 
!.gitignore
!*.py
!sm_obstable.pickle
!*.md

# Keep the folders:
!datasets/
!logs/
!*/*.auxfile

# Keep the Wolfram notebook which i use for creating the datasets
!VectorLQ_2021.nb
!beta2.v7.m
